// color pallets
$white: #f6f6f6;
$lightBlue: #bdccd5;
$darkBlue: #8ca6b6;
$lightPing: #ece5d9;
$lihgtBrown:#d3ad8a;
$dark: #515070;
$text: #5d7079;
//styles
@import './sideNav.scss';
@import './content.scss';
@import './arct/article.scss';
// Main styles
* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vh;
    height: 100vh;
    font-family: 'Roboto';
}
html{
    overflow-x: hidden;
}